/*https://kuler.adobe.com/create/color-wheel/?base=2&rule=Complementary&selected=3&name=My%20Kuler%20Theme&mode=rgb&rgbvalues=0.7,0.5645320979524209,0.22856383047099968,1,0.8639447305586101,0.5265197578157138,1,0.8352095781024629,0.42651975781571383,0.17697639498178466,0.3215686274509804,0.7,0.42651975781571383,0.5850609549983241,1&swatchOrder=0,1,2,3,4
*/
body {
	text-align: center;
	background-color: rgba(177, 147, 58, 0.3);
}

img {
	max-width: 500px;
}

.all-posts {
	width: 800px;
	margin: auto;
	background-color: rgba(109, 140, 255, 1);
	padding: 100px 20px 20px 20px;
	border: 5px rgba(177, 147, 58, 1.0000) solid;
	margin-bottom: 100px;

}

.one-whole-post {
	background-color: rgba(255, 217, 109, 1);
	padding: 50px 0px 10px 0px;
	margin: 20px 0px;
}

/*class="add-new-post-box

class="entire-post"*/

.header-box {
	margin: auto;
	width: 800px;
	background-color: rgba(255, 217, 109, 1);
	border: 5px rgba(109, 140, 255, 1.0000) solid;
	text-align: center;
	margin-top: 20px;
}

.header-box h1 {
	color: rgba(45, 74, 177, 1.0000);
}

h2 {
	color: rgba(45, 74, 177, 1.0000);
}

p {
	color: rgba(109, 140, 255, 1.0000);
}